body {
    margin: 0;
    font-family: 'New Rocker', cursive;
    background: black; 
    color: white; 
    text-align: center;
}

header {
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
}

h1 {
    font-family: 'Metal Mania', cursive;
    font-size: 6em;
    margin: 0;
}

nav {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin: 0 20px;
}



.welcome {
    text-align: center;
    padding: 50px;
    background-color: #222;
    color: #fff;
}

.welcome h2 {
    font-size: 2em;
}

.welcome p {
    font-size: 1.2em;
    margin-top: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

.gallery .column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.gallery .column img {
    width: 100%;
    display: block; /* Remove extra space under images */
}

@media (max-width: 768px) {
    .gallery .column {
        flex: 1 1 50%; /* Make columns 50% width */
        max-width: 50%;
    }
}

@media (max-width: 480px) {
    .gallery .column {
        flex: 1 1 100%; /* Make columns 100% width */
        max-width: 100%;
    }
}

footer {
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    text-align: center;
}

footer h4 {
    font-size: 1.5em;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 10px;
}

footer img {
    width: 30px; 
    height: 30px; 
}


.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}


.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: white;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color:white;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: white;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #fdfdfd;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #ffffff;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}